* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "Lobster", cursive;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 30px;
}
body {
  background-color: #000;
}
.cabecalho {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
  background-color: #000;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
  text-shadow: 3px 1px 7px #ffee00;
  font-family: "Satisfy", cursive;
  cursor: context-menu;
}

.menu {
  display: flex;
  align-items: center;
}
nav ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul {
  display: flex;
}
nav a {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: #fff;
  font-family: Arial;
}
nav .active a,
nav a:hover {
  background-color: #ece800;
  color: #000;
}
.menu2 {
  width: 100%;
  height: 40px;
  background-color: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
i {
  margin-right: 20px;
  font-size: 20px;
}
.icones i:hover {
  background-color: #00eeff;
  border-radius: 10px;
}
.fa-whatsapp {
  color: #0ea30e;
}
.fa-instagram {
  color: #000000;
}
.fa-facebook {
  color: #0000ff;
}
.fa-youtube {
  color: #ff0000;
}
.video {
  overflow: hidden;
  height: 500px;
}
.texto1 h1 {
  display: flex;
  justify-content: center;
  color: #e02d35;
  font-family: "Lobster", cursive;
}

.area1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #858585;
}
.area1--text {
  font-size: 20px;
}
.area1--content {
  padding: 80px;
}
.area1--quote {
  margin-bottom: 30px;
}

.bar {
  background-color: #1e2fc7;
  width: 162px;
  height: 22px;
}
.area1--img1 {
  height: 350px;
  background-image: url("../img/Banner/c6.jpg");
  background-size: cover;
  background-position: center;
}
.area1--img2 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-image: url("../img/Banner/montagem3.png");
  background-size: cover;
  background-position: center;
}
.area1 h3 {
  color: #00ff80;
  font-size: 35px;
  line-height: 45px;
  margin: 20px 0;
}
/* Aria2 */

.area2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #858585;
}
.area2--content {
  padding: 80px;
}

.bar {
  background-color: #1e2fc7;
  width: 162px;
  height: 22px;
}
.aria2--text {
  font-size: 20px;
}
.area2--img1 {
  height: 450px;
  background-image: url("../teste/corte-pretonobrando.jpg");
  background-size: cover;
  background-position: left;
}
.area2--img2 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-image: url("../teste/v1.png");
  background-size: cover;
  background-position: center;
}
h3 {
  color: #c357e4;
  font-size: 35px;
  line-height: 45px;
  margin: 20px 0;
}
/* aria3 */
.area3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #858585;
}
/* logo sg */
.area3--content {
  padding: 200px 80px;
  background-size: cover;
  background-position: left;
}
.area3--content h2 {
  margin-bottom: 20px;
  font-size: 40px;
  color: #fb5778;
}
.area3--text {
  font-size: 20px;
}

.area3--img1 {
  background-image: url("../img/Banner/Banner.png");
  background-size: cover;
  background-position: center;
}
.mapa--text {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: "Lobster", cursive;
  color: #6b13ff;
  font-size: 30px;
}

.uber {
  color: #fff;
}
.icones-taxi {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 10px;
}
.fa-uber {
  margin-left: 20px;
  font-size: 30px;
}
.fa-taxi {
  color: yellow;
  margin-left: 20px;
  font-size: 30px;
}
footer {
  background-color: #232230;
  font-family: Arial;
  height: 320px;
}
.footer-texto {
  color: #fff;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  justify-content: space-between;
  padding: 56px;
}

.text1,
.text2,
.text3 {
  margin-bottom: 20px;
}
.contato1,
.contato2,
.contato3 {
  display: flex;
}
.texto--fim1,
.texto--fim2,
.texto--fim3 {
  font-size: 18px;
}
.fa-phone-alt {
  color: #f2f1c1;
}
.logo-roda-pe {
  display: flex;
  justify-content: center;
}
.direitos {
  display: flex;
  justify-content: center;
  color: #fff;
}
